<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WELCOME TO MY LOGIN PAGE</title>
</head>

<body class="text-center" data-new-gr-c-s-check-loaded="14.1107.0" data-gr-ext-installed="">

    <main class="form-signin">
        <form method="pos" action="/login">
            <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

            <div class="form-floating">
                <input type="type" class="form-control" id="floatingInput" name="username" placeholder="name">
                <label for="username">Username</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="floatingPassword" name="password"
                    placeholder="Password">
                <label for="floatingPassword">Password</label>
            </div>


            <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
            <p class="mt-5 mb-3 text-muted">© 2023–2025</p>
        </form>
    </main>
</body>

</html>